<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

</head>
<body>
    <h1>The Library</h1>
    {% for book in library_list %}
        <section>
            <nav>
                <a href="/library/{{ book.title }}"> {{ book.title  }} : {{ book.author }} : 
                    {{ book.genre  }}
             </a>Available: 
                {% if book.checked_out == false %}&#10004; {% else %}&#10060; {% endif %}
            </nav>
        </section>
    {% endfor %}
    <footer>
        <nav>
            <h4>Admin</h4>
                <li><a href="add_book">Add a book</a></li>
                <li><a href="remove_book">Remove a book</a></li>

            
        </nav>
    </footer>
</body>
</html>