<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove book</title>
</head>
<body>
    <h1>Remove a book</h1>
    <section>
        <p>
            <form action="/library/remove_book" method="POST">
            <label for="book_to_remove">Which book do you wish to remove from the library?</label>
            <input type="text" name="title">

            <input type="submit" value="submit">
            </form>
        </p>
    </section>
</body>
</html>